body
{
    text-align: center;
    background: rgb(18, 82, 102);
    height: 100%;
}
.App
{
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    background:white;
    min-height: 50vh;
    max-width: 450px;
    border-radius: 20px;
    border-style: solid;
}
.fullList
{
    min-height: 40vh;
    text-align: left;
}
.listitem
{
    font-size: 15px;
    margin-top: 6px;
}
.strikethrough
{
    text-decoration: line-through;
    font-size: smaller;
    color:rgb(18, 82, 102);
}
.btn-sm
{
    font-size: 9px;
}
.btn-md
{
    font-size: 13px;
    margin-top: 10px;
}