body
{
    text-align: center;
    background: rgb(18, 82, 102);
    height: 100%;
}
.App
{
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    background:white;
    min-height: 50vh;
    width: 300px;
    border-radius: 20px;
    border-style: solid;
}
.fullList
{
    min-height: 40vh;
    text-align: left;
}
.listitem
{
    font-size: 18px;
    padding: 3px;
}
.strikethrough
{
    text-decoration: line-through;
    font-size: smaller;
    color:rgb(18, 82, 102);
}
label
{
    margin-left: 10px;
}